<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Satisfy' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">

<div id="header_bar">
	<% if current_user %>
	<div class ="nav_button" id="nav_button_left">
		<%= link_to "+ New", "/pictures/new", :class => "nav_text_link"%>
	</div>
	<%end%>

	<div class="nav_button" id="nav_button_right">
		<% if current_user %>
		<%= link_to "Log Out", session_path("current"), :class => "nav_text_link", :method => :delete %>
		<% else %>
		<%= link_to "Log In", "/sessions/new", :class => "nav_text_link" %>
		<%end%>
	</div>

	<% if !current_user %>
	<div class="nav_button" id="nav_button_right">
		<%= link_to "Sign Up", "/users/new", :class => "nav_text_link" %>
	</div>	
	<% end %>

	<div id="page_name_div">
		<a href="/pictures"><p id="page_name">Photify</p></a>
	</div>

</div>

<div id="sidebar">

	<%if current_user %>
		<%= link_to "/users/#{current_user.id}" do %><div class="side_header_div" id="user_profile">
			<div id="profile_picture_div"><%= image_tag(current_user.profile_picture, :class => "profile_picture") %></div>
			<li id = "sidebar_header"> <%= current_user.first_name %> </li>
			</div>
		<% end %>

	  <div class = "filter_list"><%= link_to "My Pictures", "/pictures/users/#{current_user.id}", :class=>"category_link" %>
	  </div>
	<% end %>

	<div class="side_header_div"><li id = "sidebar_header">Categories</li></div>
	
   <% categories=['People', 'Places', 'Nature', 'Space', 'Architecture', 'Design', 'Illustration', 'Food', 'Sports', 'Miscellaneous'].sort %>
    <% categories.each do |category| %>
	<div class = "filter_list"><%= link_to "#{category}", "/pictures/filter/#{category}", :class=>"category_link" %></div>
	<% end %>

</div>

<div id="content">
	<%= yield %>	
</div>

</div>
</body>
</html>
